ANTHROPIC_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=
OPENAI_API_KEY=
TOPIC_EMBED_AUTO_HEAL_MAX=
TOPIC_EMBED_BATCH_SIZE=
LOCAL_SUPABASE_SERVICE_ROLE_KEY=
LOCAL_SUPABASE_URL=
